IT.ELUX/Connected Services/EBIPaWebServices/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.ApiRest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.ApiRest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="consultarRucDVRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoRuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="consultarRucDVRequest" nillable="true" type="tns:consultarRucDVRequest" />
</xs:schema>