IT.ELUX/Connected Services/EBIPaWebServices/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoSucursalEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumentoFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntoFacturacionFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serialDispositivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoEmision" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosDocumento" nillable="true" type="tns:DatosDocumento" />
</xs:schema>