IT.ELUX/Connected Services/EBIPaWebServices/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.ObjComprobante.v1_0" />
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Response" />
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Services.Logic.Caching.Correo" />
      <xsd:import schemaLocation="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Services.ApiRest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Enviar_InputMessage">
    <wsdl:part name="parameters" element="tns:Enviar" />
  </wsdl:message>
  <wsdl:message name="IService_Enviar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FoliosRestantes_InputMessage">
    <wsdl:part name="parameters" element="tns:FoliosRestantes" />
  </wsdl:message>
  <wsdl:message name="IService_FoliosRestantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FoliosRestantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaXML_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargaXML" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargaXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargaPDF" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargaPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnvioCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvioCorreo" />
  </wsdl:message>
  <wsdl:message name="IService_EnvioCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvioCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RastreoCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:RastreoCorreo" />
  </wsdl:message>
  <wsdl:message name="IService_RastreoCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RastreoCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EstadoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EstadoDocumento" />
  </wsdl:message>
  <wsdl:message name="IService_EstadoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstadoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AnulacionDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:AnulacionDocumento" />
  </wsdl:message>
  <wsdl:message name="IService_AnulacionDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnulacionDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarRucDV_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarRucDV" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarRucDV_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarRucDVResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Enviar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Enviar" message="tns:IService_Enviar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarResponse" message="tns:IService_Enviar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FoliosRestantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FoliosRestantes" message="tns:IService_FoliosRestantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FoliosRestantesResponse" message="tns:IService_FoliosRestantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargaXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DescargaXML" message="tns:IService_DescargaXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DescargaXMLResponse" message="tns:IService_DescargaXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargaPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DescargaPDF" message="tns:IService_DescargaPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DescargaPDFResponse" message="tns:IService_DescargaPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnvioCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnvioCorreo" message="tns:IService_EnvioCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnvioCorreoResponse" message="tns:IService_EnvioCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RastreoCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RastreoCorreo" message="tns:IService_RastreoCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RastreoCorreoResponse" message="tns:IService_RastreoCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstadoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EstadoDocumento" message="tns:IService_EstadoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EstadoDocumentoResponse" message="tns:IService_EstadoDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnulacionDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AnulacionDocumento" message="tns:IService_AnulacionDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AnulacionDocumentoResponse" message="tns:IService_AnulacionDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarRucDV">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarRucDV" message="tns:IService_ConsultarRucDV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarRucDVResponse" message="tns:IService_ConsultarRucDV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar">
      <soap:operation soapAction="http://tempuri.org/IService/Enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FoliosRestantes">
      <soap:operation soapAction="http://tempuri.org/IService/FoliosRestantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargaXML">
      <soap:operation soapAction="http://tempuri.org/IService/DescargaXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargaPDF">
      <soap:operation soapAction="http://tempuri.org/IService/DescargaPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioCorreo">
      <soap:operation soapAction="http://tempuri.org/IService/EnvioCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RastreoCorreo">
      <soap:operation soapAction="http://tempuri.org/IService/RastreoCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoDocumento">
      <soap:operation soapAction="http://tempuri.org/IService/EstadoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnulacionDocumento">
      <soap:operation soapAction="http://tempuri.org/IService/AnulacionDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRucDV">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarRucDV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://emision.ebi-pac.com/ws/obj/v1.0/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>