IT.ELUX/Connected Services/EBIPaWebService/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demointegracion.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.ObjComprobante.v1_0" />
  <xs:import schemaLocation="http://demointegracion.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Response" />
  <xs:import schemaLocation="http://demointegracion.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services.Model" />
  <xs:import schemaLocation="http://demointegracion.ebi-pac.com/ws/obj/v1.0/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Services.ApiRest" />
  <xs:element name="Enviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.ObjComprobante.v1_0" minOccurs="0" name="documento" nillable="true" type="q1:DocumentoElectronico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="EnviarResult" nillable="true" type="q2:EnviarResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoliosRestantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoliosRestantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="FoliosRestantesResult" nillable="true" type="q3:FoliosRestantesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="datosDocumento" nillable="true" type="q4:DatosDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="DescargaXMLResult" nillable="true" type="q5:DescargaXMLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="datosDocumento" nillable="true" type="q6:DatosDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="DescargaPDFResult" nillable="true" type="q7:DescargaPDFResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="datosDocumento" nillable="true" type="q8:DatosDocumento" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="EnvioCorreoResult" nillable="true" type="q9:EnvioCorreoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RastreoCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cufe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RastreoCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="RastreoCorreoResult" nillable="true" type="q10:RastreoCorreoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="datosDocumento" nillable="true" type="q11:DatosDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="EstadoDocumentoResult" nillable="true" type="q12:EstadoDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnulacionDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivoAnulacion" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Services.Model" minOccurs="0" name="datosDocumento" nillable="true" type="q13:DatosDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnulacionDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="AnulacionDocumentoResult" nillable="true" type="q14:AnulacionDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRucDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Services.ApiRest" minOccurs="0" name="consultarRucDVRequest" nillable="true" type="q15:consultarRucDVRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRucDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Services.Response" minOccurs="0" name="ConsultarRucDVResult" nillable="true" type="q16:ConsultarRucDVResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>